@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.container-resume {
  @apply w-full h-full md:w-7/12 lg:w-5/12;
}

.pdf-container {
  width: 100%;
  height: 100%;
  background-color: rgb(54 54 54 / 0.5);
}

.shadow-resume {
  box-shadow: rgba(0, 0, 0, 0.3) -30px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* create an awesome scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
