@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.container-resume {
  @apply w-full h-full md:w-7/12 lg:w-5/12;
}

.pdf-container {
  height: 100%;
  background-color: rgb(54 54 54 / 0.5);
}

.shadow-resume {
  box-shadow: rgba(0, 0, 0, 0.3) -30px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* create an awesome scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* create a glow color for text */
.glow {
  color: #fff;
  transition: all ease-in 0.5s;
}

/* create a glow color for text */
.glow-red {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f00, 0 0 70px #f00,
    0 0 80px #f00, 0 0 100px #f00, 0 0 150px #f00;
}

/* create a glow color for text */

.glow-green {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0f0, 0 0 70px #0f0,
    0 0 80px #0f0, 0 0 100px #0f0, 0 0 150px #0f0;
}

/* create a glow color for text */

.glow-yellow {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0, 0 0 70px #ff0,
    0 0 80px #ff0, 0 0 100px #ff0, 0 0 150px #ff0;
}

/* create a glow color for text */

.glow-blue {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f,
    0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;
}

/* create a glow animation for text when hover */

.glow:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.glow-red:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.glow-green:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.glow-yellow:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.glow-blue:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff,
      0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 100px #0ff,
      0 0 150px #0ff, 0 0 200px #0ff, 0 0 250px #0ff, 0 0 300px #0ff, 0 0 400px #0ff;
  }
}
